<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Featured Games</h1>
  <p class="lead">Find all your favorite titles and purchase with a single click.</p>
</div>
  
<div class="card-deck mb-3 text-center" *ngFor="let x of games">
    <div class="card mb-4 shadow-sm" *ngFor="let game of x.items">
      <div class="card-header d-flex align-items-center justify-content-center">
        <img src="{{ game.imageUrl }}" alt="{{ game.title }}" class="podimg ae-img">
      </div>
      <div class="card-body d-flex flex-column">
        <h3 class="my-0 font-weight-normal">{{ game.title }}</h3>
        <h1 class="card-title pricing-card-title">{{ game.price | currency }}</h1>
          <h4 *ngIf="!isAvailableToday(game)" class="text-muted"><em>Available {{ game.dateAvailable | date: 'MM-dd-yyyy' }}</em></h4>  
          <h4 class="text-muted">{{ game.genre }}</h4>
          <h5 class="warning" *ngIf="game.quantity <= 5 && isAvailableToday(game)">{{ game.quantity }} copies left!</h5>
          <button (click)="purchase(game)" [disabled]="!isAvailableQuantity(game) || !isAvailableToday(game)" type="button" class="btn btn-lg btn-block btn-primary mt-auto">Purchase</button>
      </div>
  </div>
</div>
